h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.links {
  text-align: center;
  font-size: 16px;
  color: Aquamarine;
}

.background {
  background-color: black;
  text-align; center;
}

.resources {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family: Verdana;
  font-size: 21px;
  color: Gray;
  text-align: center;
}

.heading2 {
  font-size: 42px;
  font-weight: 300;
  font-family: Verdana;
}

#copyright {
  text-align: right;
  color: Gray;
}
